<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Job Posting</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Cleared all jobs!</h1>
  </body>
  <form action='/jobboard'>
      <button type='submit' class='btn'>Return to JobBoard!</button>
    </form>
</html>